.square{
    border : 1px solid lightseagreen;
    height: 40px;
    width: 40px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: azure;
    float: left;
    margin: 60px;
}

/* .square{
    border : 1px solid plum;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    width: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    margin: 20px;
    
} */